@media (max-width: 1199.98px) {
    .main-navbar .navbar a.navbar-brand img {
        width: 145px;
    }
    .main-navbar .navbar .navbar-nav .nav-item a{
        font-size: 12px;
        padding-top: 11px;
        padding-bottom: 10px;
        line-height: 30px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
    .main-navbar ul.cart-menu li a{
        font-size: 12px;
    }
    .main-navbar ul.cart-menu li {
        margin: 0px 6px;
    }

}
@media (max-width: 575.98px) {
    section.cart-area .cart-item{
        text-align: center;
    }
    section.cart-area .cart-item .cart-item-image{
        margin: 10px auto;
    }
    .main-navbar .navbar .navbar-brand img {
        max-width: 120px;
    }
    .main-navbar ul.cart-menu li .dropdown-menu {
        min-width: auto;
    }
    section.our-team .team-member{
        margin-bottom: 30px;
    }
    section.faqs-area .tab-content .accordion-item p{
        padding: 0px;
    }
    section.home-slider .slider-caption-text a.shop-now{
        padding: 6px 15px;
        margin: 10px 0;
        font-size: 18px;
    }
}


@media (max-width: 767.98px) {
    header.header-area{
        padding: 0;
    }
    section.breadcrumbs ul.breadcrumbs-link{
        text-align: left;
    }
    .main-navbar button.navbar-toggler{
        margin: 9px 0px;
    }
    .main-navbar ul.cart-menu li a i{
        margin-top:0;
        font-size: 20px;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu.show{
        max-height: 500px;
        overflow: scroll;
    }
    .main-navbar ul.cart-menu{
        display: none;
    }
    .main-navbar ul.cart-menu li #search-btn i {
        padding: 1.16rem 0;
    }
    .main-navbar ul.cart-menu.responsive{
        display: flex;
        position: initial;
    }
    .main-navbar .navbar .navbar-nav .nav-item.show a i {
        transform: rotate(-90deg);
    }
    .main-navbar .navbar .navbar-nav .nav-item.megamenu {
        position: relative;
    }
    .main-navbar .navbar .navbar-nav .nav-item a i {
        font-size: 18px;
        position: absolute;
        top: 15px;
        display: inline-block;
        margin-left: -3px;
        margin-right: -3px;
        right: 20px;
    }
   /* .handicraft-nav ul.navbar-nav.mr-auto{
        margin-top: 15px;
    }
    .handicraft-nav ul.navbar-nav.mr-auto > li{
        border-top:1px solid #eee;
        margin: 0px -15px;
    }

    .handicraft-nav ul.navbar-nav.mr-auto li a{
        padding: 10px;
    }
    .handicraft-nav ul.navbar-nav.mr-auto li ul.dropdown-menu li a{
        padding: 0.6rem 1rem;
    }*/
    .main-navbar ul.cart-menu .searchbox{
        top: auto;
        bottom: -50px;
        z-index: 999;
        right: 0;
    }
    .main-navbar ul.cart-menu .searchbox .searchbox-input{
        width: 100%;
    }
    section.home-slider .slider-caption-text{
        padding: 0px;
    }
    section.home-slider .slider-caption-text h2 {
        font-size: 28px;
        line-height: 40px;
    }
    section.countdown .countdown-wrapper{
        padding: 20px 10px;
    }
    section.countdown .countdown-wrapper .offer-countdown #timer div{
        padding: 5px;
        margin: 5px;
        font-size: 18px;
        min-width: 65px;
    }
    section.countdown .countdown-wrapper .offer-countdown #timer div span{
        font-size: 16px;
    }
    section.cart-area .promo-code{
        margin-top: 60px;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu{
        position: inherit;
        top: 0;
        display: none;
        width: 100%;
    }
    .main-navbar .navbar .navbar-nav .nav-item.megamenu .dropdown-menu{
        position: inherit;
        visibility: visible;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu.show {
        display: block;
    }
    .main-navbar .navbar ul {
    /*    max-height: 500px;
        overflow: scroll;*/
    }
    .main-navbar ul.cart-menu{
        display: none;
    }
    .main-navbar .navbar .navbar-nav .nav-item.megamenu .submenu-title{
        margin-bottom: 0;
    }
    .main-navbar .navbar .navbar-nav ul.megamenu-submenu {
        margin-bottom: 20px !important;
    }
    .main-navbar ul.navbar-nav.mr-auto {
        margin-top: 0px;
        margin-left: -15px;
        margin-right: -15px !important;
    }
    .main-navbar ul.navbar-nav.mr-auto > li {
        margin: 0;
        border-top: 1px solid #ddd;
    }
    .main-navbar .navbar .navbar-nav .nav-item a{
        padding: 12px 15px;
    }
    button.navbar-toggler[aria-expanded="false"] i.bx.bx-x {
        display: none;
    }
    button.navbar-toggler[aria-expanded="true"] i.bx.bx-x {
        display: block;
    }
    button.navbar-toggler[aria-expanded="true"] i.bx.bx-menu {
        display: none;
    }
    button.navbar-toggler[aria-expanded="false"] i.bx.bx-menu {
        display: block;
    }
    section.banner .banner-area a.shop-now{
        margin: 0.5em 1.2em;
    }
    section.testimonial .testimonial-carousel{
        padding: 0px;
    }
    section.contact-area .contact-form img.contact-right-image {
        position: relative;
        bottom: 0;
        margin: 25px auto;
        display: block;
    }
    .form-label{
        padding-left: 15px;
    }
    section.contact-area .contact-address .contact-address-item{
        margin-bottom: 20px;
    }
    .main-navbar .navbar .navbar-nav .nav-item a{
        font-size: 14px;
        padding-top: 11px;
        padding-bottom: 10px;
        line-height: 24px;
    }
}

@media (max-width: 991.98px) {
    section.our-team .team-member .thumb-avatar ul.social-icon li {
        display: inline-block;
        margin: 5px 10px;
    }
    section.blog-area .blog-list .post-item{
        text-align: center;
    }


}


